<h1>Bienvenue sur runicorn</h1>

<ul>
  <li><%= link_to 'Licornes', unicorns_url %></li>
  <li><%= link_to 'Lieux de vies', living_spaces_url %></li>
  <li><%= link_to 'Poisons', poisons_url %></li>
  <li><%= link_to 'Clans', clans_url %></li>
</ul>